$container: 1200px;
$width: 100vw;
$main-font: 'DM Serif Display', serif;
$text-font: 'Jost', sans-serif;
$main-colorText: #1a471c;
$color-text:#354336;
$color-decoration: #CDA274;
$text-weight: 400;


