@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  color: #1a471c;
  background-color: #f8f8f8;
}

img {
  width: 100%;
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
.container_swiper {
  width: 1200px !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 57px;
}
.header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.header__logo_img {
  width: 150px;
  border-radius: 10px;
}
.header__logo_text {
  font-size: 30px;
}
.header__logo_login {
  margin-bottom: 80px;
  margin-top: 15px;
}
.header__find {
  height: 40px;
  width: 300px;
  border-radius: 15px;
  border: 2px solid #1a471c;
  background-image: url("./img/icons8-лупа-64.png");
  background-repeat: no-repeat;
  background-size: 30px;
  padding-left: 50px;
  background-position: 10px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header__nav_img {
  width: 30px;
  margin-right: 5px;
  cursor: pointer;
}
.header__nav_text {
  display: flex;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  color: #1a471c;
}
.header__nav_menu {
  display: flex;
}

.main {
  background-image: url(../assets/img/background.jpg);
  background-size: cover;
  height: 550px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main__btn {
  display: flex;
  gap: 10px;
}
.main__desc {
  width: 770px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.main__desc_headding {
  font-size: 50px;
}
.main__desc_btn {
  height: 75px;
  padding: 0 20px;
  border-radius: 18px;
  background-color: #1a471c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.main__desc_btn-text {
  color: #fff;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.main__img {
  width: 700px;
  margin: auto auto;
}

.count {
  background-color: white;
  height: 457px;
  margin-top: 101px;
  margin-bottom: 96px;
  display: flex;
}
.count__counter {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.count__counter_block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
}
.count__counter_block:not(:first-child) {
  border-left: 2px solid #1a471c;
}
.count__num {
  color: #147317;
  font-size: 85px;
  letter-spacing: 1.7px;
}
.count__text {
  color: #354336;
  font-family: "Jost", sans-serif;
  font-size: 25px;
}

.news {
  display: flex;
  justify-content: space-around;
}
.news_line {
  width: 700px;
  height: 2px;
  background-color: #147317;
  margin-top: 35px;
}
.news_block {
  padding: 15px;
}
.news_date {
  width: 100px;
  height: 70px;
  background-color: #147317;
  border-radius: 15px;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 7px;
  margin-bottom: 360px;
}
.news_title {
  color: #354336;
  font-size: 32px;
  width: 700px;
  height: 150px;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
}

.swiper-slide {
  height: 600px;
}

.footer {
  margin-top: 70px;
  margin-bottom: 134px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__sites {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.footer__sites_img {
  width: 70px;
}
.footer__sites_main {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.footer__sites_title {
  font-size: 32px;
}
.footer__sites_text {
  color: #354336;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  letter-spacing: 0.22px;
  margin-top: 18px;
  margin-bottom: 31px;
  text-align: left;
}
.footer__page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.footer__page_title {
  font-size: 25px;
}
.footer__page_link {
  color: #354336;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  letter-spacing: 0.22px;
  cursor: pointer;
}
.footer__contact {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 25px;
}
.footer__contact_adress {
  width: 200px;
  justify-content: flex-start;
}
.footer__contact_img {
  width: 200px;
  height: 75px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.notfound {
  display: flex;
  align-items: center;
  margin-top: 300px;
}
.notfound__left {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.notfound__left_title {
  font-size: 200px;
  font-weight: 400;
  line-height: 313px;
  color: #147317;
}
.notfound__left_page {
  font-size: 35px;
  font-weight: 400;
  line-height: 53px;
  letter-spacing: 0.01em;
  margin-bottom: 23px;
  width: 569px;
}
.notfound__img {
  width: 500px;
  height: 350px;
  border-bottom-left-radius: 200px;
}/*# sourceMappingURL=style.css.map */